{% extends "layout.html" %}

{% block title %}
Change Account Settings
{% endblock %}

{% block body %}

{% if 'username' not in session %}
You are not logged in.

{% else %}

{% if error %}
{{error}}<br>
{% endif %}

<form method="POST" class="pure-form pure-form-aligned">
  <fieldset>
    <legend>
If you wish to change your settings, please enter them here.</legend>
    <div class="pure-control-group">
      <label for="old_password">Old Password</label>
      <input type="password" name="old_password"><br>
    </div>
    <div class="pure-control-group">
      <label for="password">New Password</label>
      <input type="password" name="password"><br>
    </div>
    <div class="pure-control-group">
      <label for="password2">Confirm New Password</label>
      <input type="password" name="password2"><br>
    </div>
    <div class="pure-control-group">
      <label for="first">Different First Name</label>
      <input type="text" name="first" placeholder="First Name">
    </div>
    <div class="pure-control-group">
      <label for="last">Different Last Name</label>
      <input type="text" name="last" placeholder="Last Name">
    </div>
    <div class="pure-controls">
      <input type="submit" class="pure-button pure-button-primary" name="button" value="change">
      <input type="submit" class="pure-button pure-button-primary" name="button" value="cancel">
    </div>
  </fieldset>
</form>
{% endif %}

{% endblock %}
