{% extends "layout.html" %}

{% block title %}
Your Classmates
{% endblock %}

{% block body %}

{% if 'username' not in session %}
You are not logged in.

{% else %}

<h1>Classmates</h1>

<table class="pure-table">
  <thead>
    <tr>
      <th>Period </th>
      <th>Classmates </th>
    </tr>
  </thead>

  <tbody>
    {% for period in [1,2,3,4,5,6,7,8,9,10] %}
    <tr>
      <td>
	{{period}}
      </td>
      <td> 
	{% for c in classmates[period] %}
	{% if c != session['username'] %} <!-- excludes yourself -->
	<a href="/view_profile/{{c}}">{{c}}</a>
	{% if c != classmates[period][classmates[period]|length-1] %}
	, <!-- no comma after last person -->
	{% endif %}
	{% endif %}
	{% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endif %}
{% endblock %}
