{% extends "layout.html" %}

{% block title %}
Comment on Essay
{% endblock %}

{% block head %}
<style>
  .highlight {background-color: yellow;}
  .unhighlight {background-color: white;}
</style>
{% endblock %}

{% block body %}

{% if 'username' not in session %}
You are not logged in.

{% else %}

<h1 id="title">{{essay['title']}}</h1>
Posted by {{essay['author']}} on {{essay['time']}}
<br><br>
Topic: <div id="topic">{{essay['topic']}}</div>
<br><br>
{% set paragraphs = essay['essay'].split('\n') %}
{% set i = 0 %}
{% for p in paragraphs %}
<p name="paragraph" id="{{i}}">{{p}}</p>
<br>
{% set i = i + 1 %}
Comments: <br>
<ol id="{{i}}comments">
</ol>
<br>
{% endfor %}
<br><br>

<form method="POST">

  <input type="submit" class="pure-button pure-button-primary" name="button" value="Submit Comments">

</form>

<!-- 
<script src="comment_on_essay.js"></script>
-->
<script>
  var title = document.getElementById("title");
  var topic = document.getElementById("topic");
  var paragraphs = document.getElementsByName("paragraph");
  var contents = [title, topic];
  for (var p = 0; p < paragraphs.length; p++){
    contents.push(paragraphs[p])
  };
  var current_p;

  var highlight = function (e){
  this.classList.toggle('highlight');
  current_p = this;
  console.log(current_p);
  };

  var unhighlight = function (e){
  this.classList.toggle('unhighlight');
  current_p = null;
  };

  var comment;

  var ask = function (){
    
    comment = "Paragraph " + current_p.id +": <br>";
    var answer = prompt("Enter your comment here");
    if (answer != null){
      comment += answer;
      newComment = document.createElement("li");
		      console.log(comment);
      newComment.innerHTML = comment;
		      console.log(newComment);
      console.log(current_p.id);
      var comments = document.getElementsByTagName("ol")[current_p.id-1];
      comments.appendChild(newComment);
    }else{
      return;
    }	      
  };

for (var i = 0; i < contents.length ; i++){
    contents[i].addEventListener('mouseover', highlight);
    contents[i].addEventListener('mouseout', unhighlight);
    contents[i].addEventListener('click', ask);
};
</script>

{% endif %}
{% endblock %}
