{% extends "layout.html" %}

{% block title %}
Create a Club
{% endblock %}

{% block body %}

{% if 'username' not in session %}
You are not logged in.

{% else %}
<h1>Create your club</h1>
<form method="POST" id="posting">
<b>Club Name:</b> <input type="text" name="Club_Name">
<br> <br>

<b>Club Status:</b> <select name="Club_Status"> 
  <option value="Start Up"> Start Up</option>
  <option value="Active Club">Active Club</option>
</select>
<br><br>
<b>Club Description</b><br> <textarea name="Club_Description" rows="5" cols="30"form="posting"> Club Description....</textarea>
<br><br>

<input type="submit" class="pure-button pure-button-primary" name="button" value="submit">
</form>

{% endif %}
{% endblock %}
