{% extends "layout.html" %}

{% block title %}
Display Account Information
{% endblock %}

{% block body %}

{% if 'username' not in session %}
You are not logged in.

{% else %}

<h1>Account Information</h1>
Username: {{user['username']}} <br>
First Name: {{user['first']}} <br>
Last Name: {{user['last']}} <br>
<br><br>

<form method="POST">
  <input type="submit" class="pure-button pure-button-primary" name="button" value="Change Settings">
</form>

<!--
Last logged in at: {{user['last_login_at']}}<br>
Last logged out at: {{user['last_logout_at']}}<br>
-->

{% endif %}
{% endblock %}
