{% extends "layout.html" %}

{% block title %}
Essays
{% endblock %}

{% block body %}

{% if 'username' not in session %}
You are not logged in.

{% else %}

<h1>Essays to Edit</h1>
<table class="pure-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Topic</th>
      <th>Author</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    {% for essay in essayList %}
    <tr>
      <td>{{essay[0]}}</td>
      <td>{{essay[1]}}</td>
      <td>{{essay[3]}}</td>
<!-- essay[0]=title,button" value="{{essay[4]}}"> </td>
</form>

    </tr>
    {% endfor %}
    </tbody>
  </table>


<form method="POST">

  <input type="submit" class="pure-button pure-button-primary" name="button" value="Post Your Own Essay">

</form>

{% endif %}
{% endblock %}
