{% extends "layout.html" %}

{% block title %}
Essays
{% endblock %}


{% block style %}
{% endblock %}

{% block body %}

{% if 'username' not in session %}
You are not logged in.

{% else %}

<h1>Essays</h1>

<p>Feel free to give feedback on essays, or post your own essay! If you're a little shy, don't worry because we give you the option to remain anonymous.
</p>

<form method="POST">

  <table class="pure-table" style="width:100%">
    <tbody>
      {% set h = 100 %}
      <tr>
	<td height="{{h}}"> <input type="submit" class="pure-button pure-button-primary" name="button" value="View All Essays"> </td>
	<td height="{{h}}"> <input type="submit" class="pure-button pure-button-primary" name="button" value="Your Essays"> </td>
	<td height="{{h}}"> <input type="submit" class="pure-button pure-button-primary" name="button" value="Post An Essay"> </td>
      </tr>
    </tbody>
  </table>

</form>

{% endif %}

{% endblock %}
