{% extends "layout.html" %}

{% block title %}
View Essay
{% endblock %}

{% block body %}

{% if 'username' not in session %}
You are not logged in.

{% else %}

{% if session['username'] == essay['user'] %} <!-- if this is your essay-->

<h1>{{essay['title']}}</h1>
Posted by {{essay['author']}} on {{essay['time']}}
<br><br>
Topic: {{essay['topic']}}
<br><br>

<form>

  <textarea name="essay" rows="50" cols="50">
    {{essay['essay']}}
  </textarea>
  <br><br>

  <input type="submit" class="pure-button pure-button-primary" name="button" value="Edit Essay">
  <input type="submit" class="pure-button pure-button-primary" name="button" value="Cancel">

</form>

{% else %} <!-- if this isn't your essay ... -->

<h1>{{essay['title']}}</h1>
Posted by {{essay['author']}} on {{essay['time']}}
<br><br>
Topic: {{essay['topic']}}
<br><br>
<textarea rows="50" cols="50" readonly>
  {{essay['essay']}}
</textarea>
<br><br>

<form>

<input type="submit" class="pure-button pure-button-primary" name="button" value="Comment On Essay">

</form>

{% endif %}

{% endif %}
{% endblock %}
