{% extends "layout.html" %}

{% block title %}
View Essays
{% endblock %}

{% block body %}

{% if 'username' not in session %}
You are not logged in.
{% else %}

<h1>List of Essays to Be Edited</h1>
<table class="pure-table">
  <thead>
    <tr>
      <th>Essay</th>
      <th>Topic</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    {% for clubs in clubList %}
    <tr>
      <td>{{clubs[0]}}</td>
      <td>{{clubs[1]}}</td>
      <td>{{clubs[2]}}</td>
      <td>{{clubs[3]}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
