{% extends "layout.html" %}

{% block title %}
Your Essay: {{essay['title']}}
{% endblock %}

{% block head %}
<style>
  p {font-size: 120%; font-family:verdana;}
  .highlight {background-color: yellow;}
  .unhighlight {background-color: white;}
  .comments {font-size: 90%; font-family:courier}
</style>
{% endblock %}

{% block body %}

{% if 'username' not in session %}
You are not logged in.

{% else %}

<h1 id="title">{{essay['title']}}</h1>
Posted by 
{% if essay['author'] == 'Anonymous' %}
{{essay['author']}}
{% else %}
<a href="/view_profile/{{essay['author']}}">{{essay['author']}}</a>
{% endif %}
on {{essay['time']}}
<br><br>
Topic: <div id="topic">{{essay['topic']}}</div>
<br>
{% set paragraphs = essay['essay'].split('\n') %}
{% set i = 1 %}
{% for p in paragraphs %}
<fieldset id="{{i}}">
  <p name="paragraph" id="{{i}}">{{p}}</p>
  {% if comments in essay %}
  <div style="font-size:80%">
    <br>Comments:<br>
    {% for c in essay['comments'][i|string] %}
    <a href="/view_profile/{{c[0]}}">{{c[0]}}</a> wrote on {{c[1]}}:<br>
    <div class="comments">
      {{c[2]}}
    </div>
    <br>
    {% endfor %}
  </div>
  {% endif %}
</fieldset>
{% set i = i + 1 %}
{% endfor %}
<br><br>

<form method="POST">
  <input type="submit" class="pure-button pure-button-primary" name="button" value="Go Back To Your Essays">
  <input type="submit" class="pure-button pure-button-primary" name="button" value="Delete This Essay">
</form>

{% endif %}
{% endblock %}
