{% extends "layout.html" %}

{% block title %}
Teachers
{% endblock %}

{% block body %}

{% if 'username' not in session %}
You are not logged in.

{% else %}

<h1>Teachers</h1>
<table class="pure-table">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {% for teacher in teachers %}
    <tr>
      <!--link to view_teacher page using teacher's name w/o the "." -->
      <td><a href="/view_teacher/{{teacher['name']}}">{{teacher['name']}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}
{% endblock %}
